<!DOCTYPE html>
<html>
<head>
    <style>{{{ style }}}</style>
    <style>{{{ base_theme }}}</style>
    <style>{{{ theme }}}</style>
</head>
<body>
<div class="reveal">
    <div class="slides">
        {{{ slides }}}
    </div>
</div>
<script>
    {{{ reveal }}}
</script>
<script>
    Reveal.initialize({
        controls: false,
        hash: true,
        overview: false,
    });
    {{{ watcher }}}
</script>
</body>
</html>
